MyNovel/DB.json

*.vsidx

.vs/MyNovel/v17/.suo

MyNovel/obj/Debug/net9.0/MyNovel.AssemblyInfo.cs

MyNovel/obj/Debug/net9.0/MyNovel.AssemblyInfoInputs.cache

*.dll

*.exe

*.pdb

MyNovel/obj/Debug/net9.0/MyNovel.csproj.FileListAbsolute.txt

MyNovel/obj/Debug/net9.0/MyNovel.sourcelink.json

.vs/MyNovel/v17/DocumentLayout.json

.vs/MyNovel/config/applicationhost.config

.vs/MyNovel/v17/DocumentLayout.backup.json
